<div class="container-fluid" style="max-height: 100vh; margin-bottom: 50px;">
    <div class="row pt-3 pb-2 ps-2 pe-2">
        <div class="col-md-2 pe-0">
            <div class="card card-principal" style="border: none; height: 90vh; ">
                <div class="card-body" style="height: 100%;">
                    <div class="card card-secundario card-shadow mt-2" *ngFor="let curso of cursosEmAndamento">
                        <div class="card-body p-0 m-0">
                            <div class="d-flex p-4">
                                <div class="me-auto"><p class="texto-basico">{{curso.nome}}</p></div>
                                <div><img [src]="curso.imagem" style="width: 30px;"></div>
                            </div>
                            
                            <div class="progress-bar" [ngStyle]="{'width': curso.progresso}" ngbTooltip="Progresso: {{curso.progresso}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="row row-pai">
                <div class="col-md-9 mb-2">
                    <div class="card card-pai">
                        <app-cursos-em-andamento></app-cursos-em-andamento>
                    </div>
                </div>
                
                <div class="col-md-3 mb-2 ps-0">
                    <div class="card card-pai">
                        <div class="card-body text-center">
                            <img src="../../../../assets/img/pomodoro.png" style="width: 200px;">
                            <br>
                            <p class="pomodoro-text">Iniciar Pomodoro</p>
                            <br>
                            <p class="pomodoro-count">
                                {{pomodoroMinutes}}
                            </p>
                            <br>
                            <button *ngIf="!pomodoroOn" class="btn btn-lg btn-count" (click)="comecarPomodoro()">
                                Começar
                            </button>
                            <button *ngIf="pomodoroOn" class="btn btn-lg btn-cancelar" (click)="cancelarPomodoro()">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-pai mb-0" style="max-width: 100vw;">
                <div class="col-md-12" style="max-height: 100%;">
                    <div class="card card-pai">
                        <app-proximos-cursos></app-proximos-cursos>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
