.titulo-card {
    font-size: 14px;
    background-color: rgb(248, 248, 248);
    font-weight: 600;
    color: #f77f73;
    border-bottom: none;
}

.sub-title {
    font-size: 13px;
    font-weight: 600;
    color: rgb(131, 131, 131);
}

.progress-bar {
    border-bottom: solid 2px #f77f73; 
    width: 73%;
}

.texto-basico {
    color: rgb(139, 139, 139);
    display: inline;
    font-weight: 400;
    font-size: 14px;
}

.progress-bar:hover {
    border-bottom: solid 8px #f77f73;
}

p {
    display: inline;
}

.card-shadow {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08); 
}

.card-principal {
    border: solid 1px rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    background-color: white;
    overflow-y: hidden;
}

.card-pai {
    border: none; 
    height: 100%;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    background-color: white;
    overflow-y: hidden;
}

.card-secundario {
    border: solid 1px rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    background-color: white;
    overflow-y: hidden;
}

.card-pai .card-header {
    background: none;
}

.card-principal:hover {
    overflow-y: auto;
}

.row-pai {
    height: 45vh;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    height: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226); 
    height: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
    height: 10px; 
}