<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card card-principal" style="border: none; height: 90vh; ">
                <div class="card-body">
                    <div class="card card-shadow mt-2" *ngFor="let curso of cursosEmAndamento">
                        <div class="card-body p-0 m-0">
                            <div class="d-flex p-4">
                                <div class="me-auto"><p class="texto-basico">{{curso.nome}}</p></div>
                                <div><img [src]="curso.imagem" style="width: 30px;"></div>
                            </div>
                            
                            <div class="progress-bar" [ngStyle]="{'width': curso.progresso}" ngbTooltip="Progresso: {{curso.progresso}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card card-principal" style="border: none; height: 90vh; ">
                <div class="card-header" style="background: none;">
                    <p class="sub-title">Exibição de cursos em andamento e finalizados</p>
                </div>
                
                <div class="card-body">
                    <div id="chart">
                        <apx-chart
                          [series]="chartOptions.series"
                          [chart]="chartOptions.chart"
                          [colors]="chartOptions.colors"
                          [xaxis]="chartOptions.xaxis"
                          [stroke]="chartOptions.stroke"
                          [tooltip]="chartOptions.tooltip"
                          [dataLabels]="chartOptions.dataLabels"
                        ></apx-chart>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
