img {
    width: 10rem;
}

p {
    margin-right: 40px;
    cursor: pointer;
    color: rgb(126, 126, 126);
    font-weight: 600;
    font-size: 14px;
    display: inline;
}

p:hover{
    color: #ff6172;
    text-decoration: none;
}