img {
    width: 10rem;
}

.navbar {
    background-color: #f8f8f8;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08); 
}

.sub-title {
    font-weight: 600;
    font-size: 14px;
    margin-left: 4px;
}

p {
    margin-right: 40px;
    cursor: pointer;
    color: rgb(126, 126, 126);
    font-weight: 600;
    font-size: 14px;
    display: inline;
}

p:hover{
    color: #ff6172;
    text-decoration: none;
}

@media screen and (min-width: 980px) {
    p {
        font-size: 14px;
    }

    img {
        width: 100px;
    }
}