.card-header {
    background: none;
}

.sub-title {
    font-size: 13px;
    font-weight: 600;
    color: rgb(131, 131, 131);
}

.card-pai {
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
}

.card-body {
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    height: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73); 
    height: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 83, 83);
    height: 5px; 
}



/* Para o Firefox */
/* width */
* {
    scrollbar-width: thin;
}

/* Track e Handle para a barra de rolagem vertical no Firefox */
* {
    scrollbar-color: rgb(201, 201, 201) #f1f1f1;
}

/* Track e Handle para a barra de rolagem horizontal no Firefox */
* {
    scrollbar-color: rgb(201, 201, 201) transparent;
}

/* Track para a barra de rolagem horizontal no Firefox */
*::-moz-scrollbar-track {
    background-color: transparent;
}

/* Handle para a barra de rolagem horizontal no Firefox */
*::-moz-scrollbar-thumb {
    background-color: rgb(226, 226, 226);
}

/* Handle on hover para a barra de rolagem horizontal no Firefox */
*::-moz-scrollbar-thumb:hover {
    background-color: rgb(177, 177, 177);
}