<div class="card-header">
    <h6 class="sub-title mt-2">Próximos cursos</h6>
</div>

<!-- <div class="card-body pb-0">
     <div class="row" style="height: 100%;">
        <div class="card me-2" style="width: 18rem;">
            <div class="text-center">
                <img src="../../../../assets/img/angular.png" class="card-img-top" alt="..." style="width: 40%; margin-top: 20px">
            </div>
            
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card me-2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div> 
</div> -->