<div class="card-body text-center">
    <img src="../../../../assets/img/pomodoro.png" style="width: 10vw;">
    <br>
    <p class="pomodoro-text">Iniciar Pomodoro</p>
    <br>
    <p class="pomodoro-count">
        {{pomodoroMinutes}}
    </p>
    <br>
    <button *ngIf="!pomodoroOn" class="btn btn-lg btn-count" (click)="comecarPomodoro()">
        Começar
    </button>
    <button *ngIf="pomodoroOn" class="btn btn-lg btn-cancelar" (click)="cancelarPomodoro()">
        Cancelar
    </button>
</div>